.Btn{
    margin-bottom: 5px;
    width: 100%;
    max-width: 220px;
    min-width: 80px;
    font-size: 18px;
    padding: 8px 16px;
}

@media (max-width: 768px) {
    .Btn {
        font-size: 16px;
        max-width: 180px;
    }
}

@media (max-width: 480px) {
    .Btn {
        font-size: 14px;
        max-width: 150px;
    }
}
