.movieContainer{
  position: relative;

  overflow-x: hidden;
}


.nowPlaying > * {
  padding: 10px;
}

.image{
   position: relative;
   top: 10vh;
left: 10vh;
}
.movieTitle{
   font-size: 20px;
 text-align: center;
}

.smallposter{
width: 150px;
 overflow: visible;
 left: 7vw;
}

.nowPlayingh1{
  z-index: 3;
  position: relative;
  width: 10vw;
  left: 15vw;
  text-align: top;
  color: var(--primary-600);
}
.movieContainer{
  background-color: transparent;
   display: flex;
    align-items: center;
    justify-content: center;
      flex-direction: row;
      row-gap: 50px;
  column-gap: 5em;
height: 50vh;
}

.nowinmoveiscard{
  align-items: center;
}