.nowPlaying > * {
  padding: 10px;
}

.image {
  position: relative;
  top: 10vh;
  left: 10vh;
}
.movieTitle {
  font-size: 20px;
  text-align: center;
}

.smallposter {
  width: 250px;
  overflow: visible;
}

.nowPlayingh1 {
  margin-left: 2em;
  color: var(--primary-600);
}

.movieContainer {
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: left;
  flex-direction: row;
  column-gap: 20px;
  height: auto;
}

.nowinmoveiscard {
  align-items: center;
}

.movie-card.movieContainer {
  overflow: hidden;
  width: 100%;
}

.movie-slider {
  display: flex;
  gap: 20px;
  transition: transform 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}
