

.sidebarContainer{
    position: fixed;

  box-shadow: var(--shadow); 
    background-color: var(--bg);
    display: flex;
    justify-content: center;
    flex-direction: column;
    
 height:100%;
 width: 13%;
 top: 0;
right: 86.5%;
 z-index: 1;
 margin-right: 10px;
 overflow: hidden;
 transition: var(--transition); /*Niklas lisännyt tämän eli pieni animaatio kun sidebar*/
 
}
.sideBarClosed{
    position: fixed;

  box-shadow: var(--shadow); 
    background-color: var(--bg);
    display: flex;
    justify-content: center;
    flex-direction: column;
    
 height:100%;
 width: 13%;
 top: -0;
right: 97%;
 z-index: 1;
 margin-right: 10px;
 overflow: hidden;
 transition: var(--transition); /*Niklas lisännyt tämän eli pieni animaatio kun sidebar*/
 
}

.profilePicture{
    position: relative;
    bottom: 5vh;
    border: 1px solid white;
    border-radius: 2px;
    position: relative;
   margin-bottom: 5px;
   margin-right: 5px;
}

.buttonContainer{
   display: flex;
   position: relative;
   top: -25vh;
     flex-direction: column;
     justify-content: center;
    align-items: center;
   

}

.placeHolder{
  margin-top: 10px;
  margin-left: 10px;
  background-color: transparent; 
    width: 250px;
  height: 40px;
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: 5px;
  border: var(--border);
  padding-left: 10px;
  font-size: 16px;  
  color: var(--text);
}

.submitBtn{
    display: flex;
    position: relative;
    margin-left: 10px;
    width: 4vw;
    align-items: center;
    justify-content: center;
    height:3vh;
    overflow: hidden;
}

.goToRegister{
    position: relative;
    top: 50%;
    right: 60%;
    z-index: 5;
    margin-left: 5px;
    border: none;
    background-color: var(--bg);
    color: var(--text);


}
.goToRegister:hover{

    text-decoration: underline;
    cursor: pointer;
}

.popupcontainer{
  position: fixed;
 border:var(--border); 
 border-radius: 4px; 
  left: 22.5%;
  width: 100%;
  height: 50vh;
  z-index: 3;
  background-color: var(--bg);
  display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   box-shadow: var(--shadow); 
  overflow: hidden;
}

.cancelBtn{
  border: none;
  background-color: transparent;

  position: absolute;
  font-size: 20px;
  left: -2.5%;
  width: 4vw;
  height:3vh;
  top: 1%;
  z-index: 4;


}

.closeSideBar{
 width: 2vw;
 position: absolute;
z-index: 5;
 right: 2%;
 top: 1.5%;
 
}