.sidebarContainer{
    position: fixed;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: var(--bg);
    display: flex;
    justify-content: center;
    flex-direction: column;
 height:100%;
 width: 25vh;
 top: -5vh;
 right: 85vw;
 z-index: 1;
 margin-right: 10px;
   overflow-x: hidden;
    overflow-y: hidden;
}

.profilePicture{
    position: relative;
    bottom: 5vh;
    border: 1px solid white;
    border-radius: 2px;
    position: relative;
   margin-bottom: 5px;
   margin-right: 5px;
}

.buttonContainer{
   display: flex;
   position: relative;
   top: -25vh;
     flex-direction: column;
     justify-content: center;
    align-items: center;

}

.placeHolder{
  margin-left: 10px;
  background-color: white;
    width: 250px;
  height: 40px;
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: 5px;
  border: 2px solid #000000;
  padding-left: 10px;
  font-size: 16px;  
}

.submitBtn{
    display: flex;
    position: relative;
    margin-left: 10px;
}

.goToRegister{
    position: relative;
    margin-left: 5px;
    border: none;
    background-color: var(--bg);
    color: var(--text);

}
.goToRegister:hover{

    text-decoration: underline;
    cursor: pointer;
}